@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem = 10px, 10/16 = 62.5% */ }

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.nav {
  position: absolute;
  bottom: 2rem;
  right: 7rem; }
  .nav__left--title {
    visibility: hidden; }
  .nav__right--list {
    padding: 2rem 0; }
  .nav__right--listItem {
    display: inline-block;
    color: #ff6600;
    font-size: 2.3rem;
    padding: 2rem;
    border-radius: 0.2rem;
    transition: all 250ms ease; }
    .nav__right--listItem:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .nav__right--link {
    list-style: none;
    color: inherit;
    text-decoration: none; }

.nav-home {
  opacity: 0;
  animation: fadeIn 250ms linear 3s;
  animation-fill-mode: forwards; }

.nav-about {
  opacity: 0;
  animation: fadeIn 250ms linear 3.2s;
  animation-fill-mode: forwards; }

.nav-services {
  opacity: 0;
  animation: fadeIn 250ms linear 3.4s;
  animation-fill-mode: forwards; }

.nav-resources {
  opacity: 0;
  animation: fadeIn 250ms linear 3.6s;
  animation-fill-mode: forwards; }

.nav-blog {
  opacity: 0;
  animation: fadeIn 250ms linear 3.8s;
  animation-fill-mode: forwards; }

.nav-contact {
  opacity: 0;
  animation: fadeIn 250ms linear 4s;
  animation-fill-mode: forwards; }

.landing {
  background-image: linear-gradient(to bottom right, rgba(241, 241, 241, 0.1) 0%, rgba(22, 22, 22, 0.9) 90%), url("../img/family_coaching_solutions.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%; }
  .landing__heading {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 23%;
    transform: translate(-25%, -25%);
    font-size: 7rem;
    color: #f1f1f1;
    letter-spacing: 0.7rem;
    opacity: 0;
    animation: fadeIn 2s linear 0.5s;
    animation-fill-mode: forwards; }
  .landing__sub-heading {
    position: absolute;
    font-weight: 200;
    letter-spacing: 0.7rem;
    color: #f1ffb0;
    top: 60%;
    left: 19%;
    transform: translate(-40%, -25%);
    font-size: 3.5rem;
    opacity: 0;
    animation: fadeInUp 1.5s linear 1.5s;
    animation-fill-mode: forwards; }
