@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeIn {
  animation: fadeIn 1.5s linear 0.5s;
  animation-fill-mode: forwards; }

.fadeInLeft {
  animation: fadeInLeft 1.5s linear;
  animation-fill-mode: forwards; }

.fadeInRight {
  animation: fadeInRight 1.5s linear;
  animation-fill-mode: forwards; }

.fadeInUp {
  animation: fadeInUp 1s linear;
  animation-fill-mode: forwards; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 1rem = 10px, 10/16 = 62.5% */ }

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

.nav {
  position: fixed;
  padding: 0;
  background-color: rgba(22, 22, 22, 0.85);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffc760;
  z-index: 100; }
  .nav--land {
    position: absolute;
    bottom: 2rem;
    background-color: transparent;
    color: #ff6600; }
  .nav__left {
    position: relative;
    transition: all 250ms ease; }
    .nav__left:hover :last-child {
      width: 32rem;
      left: 2rem; }
    .nav__left--title {
      visibility: hidden;
      color: #f1f1f1;
      padding: 2rem;
      font-size: 2.4rem;
      font-weight: 400; }
      .nav__left--title a {
        text-decoration: none;
        color: inherit; }
  .nav__right--listItem {
    display: inline-block;
    font-size: 2.3rem;
    padding: 2rem;
    border-radius: 0.2rem;
    transition: all 250ms ease;
    border-bottom: 2px solid transparent; }
    .nav__right--listItem:hover {
      background-color: rgba(241, 241, 241, 0.3);
      border-bottom: 2px solid #ffc760; }
  .nav__right--link {
    list-style: none;
    color: inherit;
    text-decoration: none; }

.nav-home {
  opacity: 0;
  animation: fadeIn 250ms linear 2.4s;
  animation-fill-mode: forwards; }

.nav-about {
  opacity: 0;
  animation: fadeIn 250ms linear 2.6s;
  animation-fill-mode: forwards; }

.nav-services {
  opacity: 0;
  animation: fadeIn 250ms linear 2.8s;
  animation-fill-mode: forwards; }

.nav-resources {
  opacity: 0;
  animation: fadeIn 250ms linear 3s;
  animation-fill-mode: forwards; }

.nav-blog {
  opacity: 0;
  animation: fadeIn 250ms linear 3.2s;
  animation-fill-mode: forwards; }

.nav-contact {
  opacity: 0;
  animation: fadeIn 250ms linear 3.4s;
  animation-fill-mode: forwards; }

.underline {
  width: 10rem;
  visibility: hidden;
  border-bottom: 2px solid #f1f1f1;
  position: absolute;
  left: 13rem;
  top: 5.7rem;
  transition: all 500ms ease; }

.active {
  border-bottom: 2px solid #ffc760;
  background-color: rgba(241, 241, 241, 0.3); }
  .active a {
    cursor: default; }

.landing {
  background-image: linear-gradient(to bottom right, rgba(241, 241, 241, 0.1) 0%, rgba(22, 22, 22, 0.9) 90%), url("../img/family_coaching_solutions.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%; }
  .landing__heading {
    position: absolute;
    width: 30%;
    top: 30%;
    left: 23%;
    transform: translate(-25%, -25%);
    font-size: 7rem;
    font-weight: 400;
    color: #f1f1f1;
    letter-spacing: 0.7rem;
    opacity: 0;
    animation: fadeIn 2s linear 0.5s;
    animation-fill-mode: forwards; }
  .landing__sub-heading {
    position: absolute;
    font-weight: 200;
    letter-spacing: 0.7rem;
    color: #ffc760;
    top: 60%;
    left: 19%;
    transform: translate(-40%, -25%);
    font-size: 3.5rem;
    opacity: 0;
    animation: fadeInUp 1.5s linear 1s;
    animation-fill-mode: forwards; }

.about {
  padding: 20rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfcf1; }
  .about__heading {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 5rem;
    opacity: 0; }
  .about__spacer {
    border-bottom: 2px solid #ff6600;
    width: 10rem;
    margin-bottom: 10rem;
    opacity: 0; }
  .about__cards {
    display: flex;
    flex-wrap: wrap; }
    .about__cards--card {
      opacity: 0;
      width: 30rem;
      display: flex;
      flex-direction: column; }
      .about__cards--card:not(:last-child) {
        margin-right: 4rem; }
      .about__cards--card h3 {
        font-size: 2rem;
        color: #ff6600; }
      .about__cards--card i {
        font-size: 5rem;
        padding: 2rem;
        color: #161616; }
      .about__cards--card p {
        font-size: 1.4rem;
        line-height: 2.3rem; }
      .about__cards--card i,
      .about__cards--card h3 {
        text-align: center; }
  .about__sched {
    padding: 4rem 0;
    margin-top: 6rem;
    color: #ff6600;
    font-size: 2.6rem;
    font-weight: 400; }
  .about__btn {
    position: relative;
    padding: 1rem 5rem 1rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 2rem;
    background-color: #ffee00;
    color: #161616;
    box-shadow: 0 0.2rem 0.5rem #666666;
    transition: all 250ms ease; }
    .about__btn:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 0.5rem 0.7rem #414141; }
    .about__btn--arrow {
      position: absolute;
      top: 0.8rem;
      right: 2rem;
      transition: all 250ms ease; }
    .about__btn:hover .about__btn--arrow {
      transform: translateX(1rem); }
    .about__btn:active {
      transform: translateY(0);
      box-shadow: 0 0.2rem 0.2rem #666666; }

.footer {
  font-size: 1.4rem; }
  .footer__top {
    color: #161616;
    background-color: #f1f1f1;
    padding: 10rem 5rem;
    display: flex;
    justify-content: space-evenly; }
    .footer__top--left > * {
      padding: 0.2rem 0; }
    .footer__top--left h1 {
      margin-bottom: 1rem;
      font-size: 3.5rem; }
    .footer__top--right p {
      margin-bottom: 2rem;
      font-size: 1.8rem; }
    .footer__top--right ul {
      list-style: none; }
      .footer__top--right ul li {
        padding: 0.5rem 0;
        font-size: 1.4rem; }
        .footer__top--right ul li a {
          color: #ff6600;
          transition: all 250ms ease; }
          .footer__top--right ul li a:hover {
            color: #161616; }
  .footer__bottom {
    text-align: right;
    background-color: #b9b9b9;
    color: #ffee00; }
    .footer__bottom p {
      padding: 2rem; }
      .footer__bottom p a {
        color: #f1f1f1;
        transition: all 250ms ease; }
        .footer__bottom p a:hover {
          color: #ff6600; }

.contact {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right top, rgba(241, 241, 241, 0.801), rgba(255, 102, 0, 0.801)), url("../img/family_coaching_solutions_contact.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .contact__left {
    opacity: 0;
    background-color: #f1f1f1;
    margin: 5rem;
    border-radius: 4px;
    box-shadow: 0 0.3rem 2rem #161616; }
    .contact__left--form {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 9rem 7rem 7rem 7rem;
      font-size: 1.4rem; }
      .contact__left--form h3 {
        position: absolute;
        font-size: 2.6rem;
        color: orange;
        text-shadow: 0.2rem 0.2rem 0.4rem black;
        top: 3rem;
        left: 13rem; }
    .contact__left--input, .contact__left--textarea {
      margin-bottom: 0.5rem;
      border: 1px solid #b9b9b9;
      border-radius: 4px;
      outline: none;
      padding: 0.5rem 1rem;
      font-family: inherit;
      font-size: 1.4rem; }
    .contact__left--btn {
      padding: 0.7rem;
      border: none;
      box-shadow: 0 0.3rem 0.6rem #646464;
      background-color: #ffee00;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 1.5rem;
      font-size: 1.6rem;
      outline: none;
      transition: all 250ms ease; }
      .contact__left--btn:active {
        transform: translateY(0.2rem);
        box-shadow: 0 0.1rem 0.3rem #4d4d4d; }
  .contact__right {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3.3rem;
    font-weight: bold; }
    .contact__right--para {
      padding: 4rem 6rem;
      color: #161616;
      font-size: 2rem; }
