$color-blue-darkest: #023d67;
$color-blue-dark: #03749c;
$color-blue: #15b1d7;
$color-blue-light: #5cd4ef;
$color-orange: #f97304;
$color-orange-dark: #d44206;
$color-dark: #222222;
$color-light: #f6fef7;

$transition-default: all 250ms ease;
