.about {
  padding-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-light;

  @include respond(tab-port) {
    padding: 15rem 2rem;
  }

  &__heading {
    font-size: 4rem;
    font-weight: 200;
    margin-bottom: 5rem;
    opacity: 0;

    @include respond(tab-port) {
      font-size: 3rem;
    }

    @include respond(phone) {
      font-size: 2.8rem;
      font-weight: 400;
      text-align: center;
    }
  }

  &__spacer {
    border-bottom: 3px solid $color-yellow;
    width: 10rem;
    margin-bottom: 10rem;
    opacity: 0;

    @include respond(phone) {
      margin-bottom: 6rem;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9rem;

    &--card {
      opacity: 0;
      width: 30rem;
      display: flex;
      flex-direction: column;

      @include respond(tab-port) {
        width: 20rem;
      }
      @include respond(phone) {
        width: 100%;
        align-items: center;
        margin-bottom: 5rem;
      }
      &:not(:last-child) {
        margin-right: 4rem;

        @include respond(phone) {
          margin-right: 0;
        }
      }

      h3 {
        font-size: 2rem;
        color: $color-blue-dark;

        @include respond(tab-port) {
          font-size: 1.4rem;
        }
      }

      i {
        font-size: 5rem;
        padding: 2rem;
        color: $color-dark;
      }

      p {
        font-size: 1.4rem;
        line-height: 2.3rem;

        @include respond(tab-port) {
          font-size: 1.2rem;
        }
      }

      i,
      h3 {
        text-align: center;
      }
    }
  }

  &__sched {
    padding: 4rem 0;
    margin-top: 6rem;
    color: $color-light;
    font-size: 2.6rem;
    font-weight: 400;

    @include respond(tab-port) {
      font-size: 2rem;
    }

    @include respond(phone) {
      font-size: 1.6rem;
      text-align: center;
      margin-top: 0;
    }
  }

  &__schedule {
    margin-top: 10rem;
    width: 100%;
    padding: 9rem 15rem 20rem 15rem;
    background-color: $color-blue-dark;
    text-align: center;
  }

  &__btn {
    position: relative;
    padding: 1rem 5rem 1rem 1.5rem;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 2rem;
    background-color: $color-yellow;
    color: $color-dark;
    box-shadow: 0 0.2rem 0.5rem rgb(102, 102, 102);
    transition: $transition-default;

    &:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 0.5rem 0.7rem rgb(65, 65, 65);
    }

    @include respond(tab-port) {
      padding: 0.5rem 3rem 0.5rem 0.5rem;
      font-size: 1.5rem;
    }

    &--arrow {
      position: absolute;
      top: 0.8rem;
      right: 2rem;
      transition: $transition-default;

      @include respond(tab-port) {
        top: 0.4rem;
        right: 1.2rem;
      }
    }

    &:hover &--arrow {
      transform: translateX(1rem);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0.2rem 0.2rem rgb(102, 102, 102);
    }
  }
}
