.contact {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
      to right top,
      rgba($light, 0.801),
      rgba($orange, 0.801)
    ),
    url("../img/family_coaching_solutions_contact.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  @include respond(phone) {
    flex-wrap: wrap-reverse;
    background-attachment: scroll;
    background-position: bottom;
  }

  &__left {
    opacity: 0;
    background-color: #383836;

    @include respond(phone) {
      margin: 0;
      width: 100%;
      border-radius: 0;
      box-shadow: none;
    }

    &--form {
      position: relative;
      display: flex;
      color: $light;
      flex-direction: column;
      padding: 15rem 5rem 10rem 5rem;
      font-size: 1.6rem;

      @include respond(phone) {
        padding: 20rem 7rem 10rem 7rem;
      }

      h3 {
        position: absolute;
        font-size: 3.6rem;
        color: orange;
        text-shadow: 0.2rem 0.2rem 2rem black;
        top: 6rem;
        left: 10rem;

        @include respond(phone) {
          left: 16rem;
          top: 12rem;
        }
      }
    }

    &--input,
    &--textarea {
      margin-bottom: 2.5rem;
      border: none;
      outline: none;
      padding: 0.5rem 1rem;
      font-family: inherit;
      font-size: 1.4rem;
      background-color: transparent;
      border-bottom: 1px solid $grey;
      color: $orange-light;

      &::-webkit-input-placeholder {
        color: $light;
      }

      &:placeholder-shown + label {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10rem);
      }
    }

    &--btn {
      padding: 0.7rem;
      position: relative;
      border: none;
      box-shadow: 0 0.3rem 0.6rem rgb(17, 17, 17);
      background-color: $yellow;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 1.5rem;
      font-size: 2rem;
      outline: none;
      transition: $transition-default;

      i {
        position: absolute;
        top: 0.6rem;
        right: 10rem;
      }

      &:active {
        transform: translateY(0.2rem);
        box-shadow: 0 0.1rem 0.3rem rgb(77, 77, 77);
      }
    }
  }

  &__right {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3.3rem;
    font-weight: bold;
    &--para {
      padding: 4rem 6rem;
      color: $dark;
      font-size: 2rem;

      @include respond(tab-port) {
        padding: 1rem;
        font-size: 1.6rem;
      }

      @include respond(phone) {
        padding: 15rem 5.5rem;
      }
    }
  }
}

.input_field {
  display: flex;

  label {
    transition: all 300ms ease;
  }

  i {
    padding-right: 2rem;
  }
}
