.footer {
  &__top {
    height: 40rem;
  }

  &__bottom {
    text-align: right;
    background-color: $grey;
    color: $yellow;
    p {
      padding: 2rem;
      font-size: 1.3rem;

      a {
        color: $light;
        transition: $transition-default;

        &:hover {
          color: $orange;
        }
      }
    }
  }
}
