.header {
  position: relative;
  animation: fadeIn 1s ease forwards;
  opacity: 0;

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    animation: fadeInLeft 1s ease 2s forwards;
    opacity: 0;

    &--logo {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1rem;
      border-radius: 50%;
      padding: 1.5rem;
      background-color: $color-blue;
      cursor: pointer;
      border: 2px solid transparent;
      transition: all 300ms ease;

      &:hover {
        top: -20rem;
        left: -20rem;
        padding: 1.5rem 65rem 65rem 1.5rem;
        cursor: default;
        background-color: $color-blue-dark;
        border: 2px solid $color-light;
      }

      &:hover .header__nav--list {
        opacity: 1;
        bottom: 11rem;
        left: 25rem;
      }

      img {
        height: 5rem;
      }
    }
    &--list {
      position: absolute;
      opacity: 0;
      bottom: 0;
      left: 0;
      list-style: none;
      transition: all 300ms ease;
    }
    &--item {
      margin-bottom: 3rem;
    }
    &--link {
      padding: 0 1rem;
      text-decoration: none;
      color: white;
      font-size: 3.6rem;
      transition: all 300ms ease;

      &:hover {
        color: $color-yellow;
      }
    }
  }
  background-color: $color-dark;
}

.landing {
  height: 100vh;
  width: 100%;
  -webkit-clip-path: polygon(70% 0, 100% 0, 100% 100%, 28% 100%);
  clip-path: polygon(70% 0, 100% 0, 100% 100%, 28% 100%);
  background-image: linear-gradient(
      to bottom,
      rgba($color-dark, 0.4),
      rgba($color-dark, 0.4)
    ),
    url("../img/back.jpg");
  background-size: cover;
  background-position: center;

  @include respond(phone) {
    background-position: 56%;
  }
}

.showcase {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 20%;
  &__main {
    font-size: 7rem;
    font-weight: 400;
    color: $color-blue;
  }
  &__sub {
    font-size: 3rem;
    color: $color-yellow;
  }
  animation: fadeInRight 1s ease 1s forwards;
}

#about {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1.7rem;
  }
}
